StudentsManagement/StudentsManagement/StudentsManagement.csproj.user
StudentsManagement/StudentsManagement/Properties/AssemblyInfo.cs
StudentsManagement/StudentsManagement/Global.asax
StudentsManagement/StudentsManagement/Global.asax.cs
StudentsManagement/StudentsManagement/Migrations/201702280858297_15.Designer.cs
StudentsManagement/StudentsManagement/Migrations/201702280858297_15.cs
StudentsManagement/StudentsManagement/Migrations/201702280858297_15.resx
StudentsManagement/StudentsManagement/Migrations/201702280900298_16.Designer.cs
StudentsManagement/StudentsManagement/Migrations/201702280900298_16.cs
StudentsManagement/StudentsManagement/Migrations/201702280900298_16.resx
StudentsManagement/StudentsManagement/Migrations/201704300808592_aa.Designer.cs
StudentsManagement/StudentsManagement/Migrations/201704300808592_aa.cs
StudentsManagement/StudentsManagement/Migrations/201704300808592_aa.resx
StudentsManagement/StudentsManagement/Scripts/_references.js
StudentsManagement/StudentsManagement/Scripts/bootstrap.js
StudentsManagement/StudentsManagement/Scripts/bootstrap.min.js
StudentsManagement/StudentsManagement/Scripts/jquery-1.10.2-vsdoc.js
StudentsManagement/StudentsManagement/Scripts/jquery-1.10.2.js
StudentsManagement/StudentsManagement/Scripts/jquery-1.10.2.min.js
StudentsManagement/StudentsManagement/Scripts/jquery-1.10.2.min.map
StudentsManagement/StudentsManagement/Scripts/modernizr-2.6.2.js
StudentsManagement/StudentsManagement/Scripts/respond.js
StudentsManagement/StudentsManagement/Scripts/respond.min.js
StudentsManagement/StudentsManagement/StudentsManagement.csproj
StudentsManagement/StudentsManagement/bin/**/*
*.config
*.nupkg
*.ps1
StudentsManagement/packages/WebGrease.1.5.2/tools/WG.exe
StudentsManagement/packages/bootstrap.3.0.0/Content/Content/bootstrap-theme.css
StudentsManagement/packages/bootstrap.3.0.0/Content/Content/bootstrap-theme.min.css
StudentsManagement/packages/bootstrap.3.0.0/Content/Content/bootstrap.css
StudentsManagement/packages/bootstrap.3.0.0/Content/Content/bootstrap.min.css
StudentsManagement/packages/bootstrap.3.0.0/Content/Scripts/bootstrap.js
StudentsManagement/packages/bootstrap.3.0.0/Content/Scripts/bootstrap.min.js
StudentsManagement/packages/bootstrap.3.0.0/Content/fonts/glyphicons-halflings-regular.eot
StudentsManagement/packages/bootstrap.3.0.0/Content/fonts/glyphicons-halflings-regular.svg
StudentsManagement/packages/bootstrap.3.0.0/Content/fonts/glyphicons-halflings-regular.ttf
StudentsManagement/packages/bootstrap.3.0.0/Content/fonts/glyphicons-halflings-regular.woff
StudentsManagement/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2-vsdoc.js
StudentsManagement/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.js
StudentsManagement/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.js
StudentsManagement/packages/jQuery.1.10.2/Content/Scripts/jquery-1.10.2.min.map
StudentsManagement/packages/jQuery.1.10.2/Tools/jquery-1.10.2.intellisense.js
*.dll
StudentsManagement/StudentsManagement/fonts/glyphicons-halflings-regular.eot
StudentsManagement/StudentsManagement/fonts/glyphicons-halflings-regular.svg
StudentsManagement/StudentsManagement/fonts/glyphicons-halflings-regular.ttf
StudentsManagement/StudentsManagement/fonts/glyphicons-halflings-regular.woff
StudentsManagement/StudentsManagement/obj/Debug/DesignTimeResolveAssemblyReferences.cache
StudentsManagement/StudentsManagement/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
StudentsManagement/StudentsManagement/obj/Debug/StudentsManagement.Migrations.aa.resources
StudentsManagement/StudentsManagement/obj/Debug/StudentsManagement.Migrations.u.resources
StudentsManagement/StudentsManagement/obj/Debug/StudentsManagement.csproj.FileListAbsolute.txt
StudentsManagement/StudentsManagement/obj/Debug/StudentsManagement.csproj.GenerateResource.Cache
StudentsManagement/StudentsManagement/obj/Debug/StudentsManagement.csprojResolveAssemblyReference.cache
StudentsManagement/StudentsManagement/obj/Debug/StudentsManagement.pdb
StudentsManagement/StudentsManagement/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
StudentsManagement/StudentsManagement/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
StudentsManagement/StudentsManagement/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
StudentsManagement/packages/Antlr.3.4.1.9004/lib/Antlr3.Runtime.pdb
StudentsManagement/packages/EntityFramework.6.1.3/content/App.config.transform
StudentsManagement/packages/EntityFramework.6.1.3/content/Web.config.transform
StudentsManagement/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.SqlServer.xml
StudentsManagement/packages/EntityFramework.6.1.3/lib/net40/EntityFramework.xml
StudentsManagement/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.SqlServer.xml
StudentsManagement/packages/EntityFramework.6.1.3/lib/net45/EntityFramework.xml
StudentsManagement/packages/EntityFramework.6.1.3/tools/EntityFramework.psd1
StudentsManagement/packages/EntityFramework.6.1.3/tools/EntityFramework.psm1
StudentsManagement/packages/EntityFramework.6.1.3/tools/about_EntityFramework.help.txt
StudentsManagement/packages/EntityFramework.6.1.3/tools/migrate.exe
StudentsManagement/packages/Microsoft.AspNet.Mvc.5.0.0/lib/net45/System.Web.Mvc.xml
StudentsManagement/packages/Microsoft.AspNet.Razor.3.0.0/lib/net45/System.Web.Razor.xml
StudentsManagement/packages/Microsoft.AspNet.Web.Optimization.1.1.1/lib/net40/system.web.optimization.xml
StudentsManagement/packages/Microsoft.AspNet.WebPages.3.0.0/lib/net45/System.Web.Helpers.xml
StudentsManagement/packages/Microsoft.AspNet.WebPages.3.0.0/lib/net45/System.Web.WebPages.Deployment.xml
StudentsManagement/packages/Microsoft.AspNet.WebPages.3.0.0/lib/net45/System.Web.WebPages.Razor.xml
StudentsManagement/packages/Microsoft.AspNet.WebPages.3.0.0/lib/net45/System.Web.WebPages.xml
StudentsManagement/packages/Modernizr.2.6.2/Content/Scripts/modernizr-2.6.2.js
StudentsManagement/packages/Newtonsoft.Json.5.0.6/lib/net20/Newtonsoft.Json.xml
StudentsManagement/packages/Newtonsoft.Json.5.0.6/lib/net35/Newtonsoft.Json.xml
StudentsManagement/packages/Newtonsoft.Json.5.0.6/lib/net40/Newtonsoft.Json.xml
StudentsManagement/packages/Newtonsoft.Json.5.0.6/lib/net45/Newtonsoft.Json.xml
StudentsManagement/packages/Newtonsoft.Json.5.0.6/lib/netcore45/Newtonsoft.Json.xml
StudentsManagement/packages/Newtonsoft.Json.5.0.6/lib/portable-net40+sl4+wp7+win8/Newtonsoft.Json.xml
StudentsManagement/packages/Newtonsoft.Json.5.0.6/lib/portable-net45+wp80+win8/Newtonsoft.Json.xml
StudentsManagement/packages/Respond.1.2.0/content/Scripts/respond.js
StudentsManagement/packages/Respond.1.2.0/content/Scripts/respond.min.js
StudentsManagement/StudentsManagement/Content/bootstrap.css
StudentsManagement/StudentsManagement/Content/bootstrap.min.css
StudentsManagement/.vs/StudentsManagement/v14/.suo
StudentsManagement/StudentsManagement.v12.suo
StudentsManagement/StudentsManagement/App_Start/BundleConfig.cs
StudentsManagement/StudentsManagement/App_Start/FilterConfig.cs
StudentsManagement/StudentsManagement/App_Start/RouteConfig.cs
